<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library of Steady-Apple</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="header">
        <h1>Library of Steady-Apple</h1>
    </div>
    <div style="height:1px; background-color: #1d8b50;"></div>
    <div id="nav">
        <a href="/"><button class="nav" style="margin-left: 2px; border-top-right-radius: 0; border-bottom-right-radius: 0;">Bookshelf</button></a>
        <button id="selected" class="nav" style="border-radius: 0;">Manage</button>
        <button class="nav" style="margin-right: 2px; border-top-left-radius: 0; border-bottom-left-radius: 0;">About</button>
    </div>
    
    <div id="content">
        <div style="height:1px; background-color: #1d8b50;"></div>
        <p style="text-align: center;">{{ update }}</p>
        <form method="POST" action="/manage" id="user-form">
            <div id="submit">
                <p>De-list Books</p>
                <input id="ip" type="text" name="isbn" placeholder="Enter ISBN code..."><input id="sub" type="submit" name="form-type" value="De-list">
            </div>
        </form>
        <form method="POST" action="/manage" id="manager-form">
            <div id="list">
                <p>List books</p>
                <input class="list-input" type="text" name="title" placeholder="Enter Title...">
                <br>
                <input class="list-input" type="text" name="author" placeholder="Enter Author name...">
                <br>
                <input class="list-input" type="text" name="year" placeholder="Enter Year of publication...">
                <br>
                <input class="list-input" type="text" name="isbn" placeholder="Enter ISBN code...">
                <br>
                <input id="list-sub" type="submit" name="form-type" value="List">
            </div>
        </form>
        <div style="height:1px; background-color: #1d8b50;"></div>
        <div class="table-wrapper">
            <table border="0" id="book-data-table">
                <tr>
                    <th style="border-top-left-radius: 23px;">Book Title</th>
                    <th>Author</th>
                    <th>Year of Publication</th>
                    <th>Readers</th>
                    <th>ISBN Code</th>
                    <th style="border-top-right-radius: 23px;">Available</th>
                </tr>
                {% for row in data %}
                <tr>
                    <td>{{ row['Title'] }}</td>
                    <td>{{ row['Author'] }}</td>
                    <td>{{ row['Year'] }}</td>
                    <td>{{ row['Popularity'] }}</td>
                    <td>{{ row['ISBN Code'].strip('*') }}</td>
                    {% if row['Available']=='Yes' %}
                    <td style="color: rgb(139, 255, 176);">{{ row['Available'] }}</td>
                    {% else %}
                    <td style="color: rgb(255, 149, 151);">{{ row['Available'] }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>